
<div class="row">
<div class="col-md-12">
<h1><Strong>
Top rated properties </Strong>
</h1>
<hr/>
</div>
    <div class="col-md-3 active" style="margin-bottom:25px; margin-top:25px"
        data-ng-repeat="project in projectList | orderBy: 'title'">
        <div class="text-center">
            <img src="images/default.jpg" width="325" height="245" style="margin-bottom:10px"/>
            <div><strong>{{project.projectName}}</strong></div>
            <div>{{project.address.locality}}, {{project.address.city}}</div>
        </div>
    </div>

</div>