<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://cxf.apache.org/jaxrs
 	http://cxf.apache.org/schemas/jaxrs.xsd
 	http://cxf.apache.org/jaxws
 	http://cxf.apache.org/schemas/jaxws.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context-4.2.xsd
 	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
 	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
    http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<aop:aspectj-autoproxy />
	
	<!-- to enable annotation -->
	<context:annotation-config />
	<context:component-scan base-package="com.property.rest.*" />
	
	<!-- importing other resources -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="applicationJpa.xml" />
	<import resource="application-utils.xml" />

	<!--jAX-RS config -->
	<jaxrs:server id="webService" address="/">
		<jaxrs:inInterceptors>
			<!-- DTO annotation validation config -->
			<ref bean="validationInInterceptor" />			    
		</jaxrs:inInterceptors>
		<jaxrs:serviceBeans>
			<!-- rest api service config -->
			<ref bean="projectRestServiceImpl" />
		</jaxrs:serviceBeans>
		
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
			<bean class="org.apache.cxf.jaxrs.provider.JAXBElementProvider" />
			<bean class="com.property.common.exception.ValidationExceprionHandler" />
			<bean class="com.property.common.exception.RuntimeExceptionHandler" />
			<bean class="com.property.common.exception.ExceptionHandler" />
		</jaxrs:providers>
	

		
		

		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>

	</jaxrs:server>

	<!-- bean validation example -->
	<bean id="exceptionMapper"
		class="org.apache.cxf.jaxrs.validation.ValidationExceptionMapper" />
		
	<bean id="validationProvider" class="org.apache.cxf.validation.BeanValidationProvider" />

	<bean id="validationInInterceptor"
		class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationInInterceptor">
		<property name="provider" ref="validationProvider" />
	</bean>

	<!-- <bean id="validationOutInterceptor" -->
	<!-- class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationOutInterceptor"> -->
	<!-- <property name="provider" ref="validationProvider" /> -->
	<!-- </bean> -->



	<!-- Property palce holder -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:dbConnection.properties</value>
				<value>classpath:ValidationMessages.properties</value>
				<value>classpath:application.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>
</beans>